:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #03a9c0;
}

#container {
  display: flex;
  background-color: lightblue;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

#container #header {
  width: 50%;
  justify-content: center;
}

#header h1 {
  text-align: center;
}

#navigation {
  display: flex;
  width: 100%;
  background-color: #0ed5f0;
}

.navbar {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  list-style: none;
}

.footer {
  display: flex;
  width: 100%;
  background-color: gray;
  margin: auto;
}
.footer ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin: auto;
  list-style: none;
}

.contentbox {
  display: flex;
  width: 100%;
  margin: auto;
}
